<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div  class="ion-padding-top ion-text-center">
    <ion-card style="border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; background-image: url(https://i.pinimg.com/originals/c5/11/39/c511396f7f7a5a5bac7fdb96a09b4832.jpg);">
    <img src="https://static-2.gumroad.com/res/gumroad/files/5538175642458/79cf03ef8cdf4cf598560299c1813171/original/sp_0688_goro.jpg" alt="avatar">
  </ion-card>
  <h3>manu kg</h3>
    <ion-list inset>
      <ion-item ><ion-text>email</ion-text></ion-item>
      <ion-item ><ion-text>phone</ion-text></ion-item>      
    </ion-list>
  </div>

</ion-content>