.cursor {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
  }
  .profileImage {
    width: 35vw;
    height: 35vw;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    border-radius: 49%;
  }
  .profileIcon{
    font-size: 50px;
    color:#A3A9A2;
}