<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
 
      <ion-title>Employes</ion-title>
      <!-- <ion-searchbar showCancelButton="always"></ion-searchbar> -->

    
  </ion-toolbar>
  <!-- <ion-segment>
    <ion-segment-button checked>
      <ion-label>Drivers</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Cleaners</ion-label>
    </ion-segment-button>
  
  </ion-segment> -->
</ion-header>

<ion-content style>
  <div *ngFor="let driver of drivers" >

    <br>
    <ion-item  lines="full">
        <ion-avatar slot="start">
            <img src="https://png.pngtree.com/svg/20161113/man_1074208.png">
        </ion-avatar>
        <ion-text>
            {{driver.name}}
        </ion-text>
        <ion-icon name="more" slot="end"  (click)="presentActionSheet(driver)"></ion-icon>
    </ion-item>
    <br>
  </div>

    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary" (click)="presentModal()">
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
     
    
                     

</ion-content>
