<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid margin-top>
    <ion-row justify-content-center>


        <img src="/assets/freight.png" class="loginLogo">
    </ion-row>
    <ion-row justify-content-center>
      <ion-col text-center>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>

      <ion-col>
        <ion-button color="tertiary" (click)="login()" expand="block">
          Login
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" (click)="signup()" expand="block">
          SignUp
        </ion-button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>