<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Add Vehicle
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
    <ion-item class="item-inner">
      <ion-label color="medium" position="floating"
        >Unique name or number</ion-label
      >
      <ion-input type="text" background="light"></ion-input>
    </ion-item>
    <ion-item class="item-inner">
      <ion-label color="medium" position="floating">Regnumber </ion-label>
      <ion-input background="light"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="TATA ACE">TEMPO</ion-select-option>
        <ion-select-option value="BOLERO PICKUP">PICK-UP</ion-select-option>
        <ion-select-option value="CLOSED 20FT">TORRAS</ion-select-option>
        <ion-select-option value="TRUCK 9 TON">CARGO</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>    <ion-item class="item-inner">
      <ion-label color="medium" position="floating">Capacity</ion-label>
      <ion-input background="light"></ion-input>
    </ion-item>
  <ion-item>
    <ion-select placeholder="Select One">
      <ion-select-option value="TON">TON</ion-select-option>
      <ion-select-option value="FEET">PICK-UP</ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>

  <ion-item class="item-inner">
    <ion-label color="medium" position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button color="tertiary" expand="block" margin-top margin-bottom
    >Register</ion-button
  >
</ion-content>
