<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
{{headerName}}
  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>

    <ion-item class="item-inner">
      <ion-label color="medium" position="floating" >Regnumber </ion-label>
      <ion-input background="light" [(ngModel)]="vehicle.registerNo"></ion-input>
    </ion-item>
    
   <!-- <ion-item>
       <ion-label>Type</ion-label>
      <ion-select placeholder="Select One" (ionChange)="selectTruckType($event)" [(ngModel)]="vehicle.vehicleType">
        <ion-select-option value="TEMPO">TEMPO</ion-select-option>
        <ion-select-option value="PICK-UP">PICK-UP</ion-select-option>
        <ion-select-option value="TORRAS">TORRAS</ion-select-option>
        <ion-select-option value="CARGO">CARGO</ion-select-option>
      </ion-select>
    </ion-item> -->

  </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-title text-center>
      Specifications
    </ion-card-title>
  </ion-card-header>
  <ion-item class="item-inner">
    <ion-label color="medium" position="floating" >Max weight </ion-label>
    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.maxWeight"></ion-input>
  </ion-item>
  <ion-item class="item-inner">
    <ion-label color="medium" position="floating" > Height </ion-label>
    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.height"></ion-input>
  </ion-item>
  <ion-item class="item-inner">
    <ion-label color="medium" position="floating" > Length </ion-label>
    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.length"></ion-input>
  </ion-item>
</ion-card>
  <!-- <ion-card>
      <ion-item>
          <ion-label>Capacity</ion-label>
          <ion-select placeholder="Select One" (ionChange)="capacityOptions($event)" [(ngModel)]="vehicle.capacityType">
            <ion-select-option value="TON" >TON</ion-select-option>
            <ion-select-option value="FEET">FEET</ion-select-option>
          </ion-select>
        </ion-item>
    <ion-item class="item-inner">
      <ion-label color="medium" position="floating">Capacity</ion-label>
      <ion-input background="light" [(ngModel)]="vehicle.capacity"></ion-input>
    </ion-item>
  </ion-card> -->

 
  <ion-row>
      <ion-col>
        <ion-button   color="light" expand="block" (click)="save()">save</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="light" expand="block" (click)="dismiss()">cancel</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
