<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
{{headerName}}
  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <ion-row justify-content-center>
          <ion-avatar>
              <img src="https://image.flaticon.com/icons/svg/45/45880.svg">
            </ion-avatar>    </ion-row>
    <ion-card-content>
    <ion-item >
      <ion-label color="medium" position="floating" >Regnumber </ion-label>
      <ion-input background="light" [(ngModel)]="vehicle.registerNo"></ion-input>
    </ion-item>
    
   <!-- <ion-item>
       <ion-label>Type</ion-label>
      <ion-select placeholder="Select One" (ionChange)="selectTruckType($event)" [(ngModel)]="vehicle.vehicleType">
        <ion-select-option value="TEMPO">TEMPO</ion-select-option>
        <ion-select-option value="PICK-UP">PICK-UP</ion-select-option>
        <ion-select-option value="TORRAS">TORRAS</ion-select-option>
        <ion-select-option value="CARGO">CARGO</ion-select-option>
      </ion-select>
    </ion-item> -->
  <ion-item lines='full'>    <ion-label text-center>
      Specifications
    </ion-label>
  </ion-item>

   <ion-item class="item-inner">

    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.maxWeight" placeholder="Max weigh"></ion-input>
    <ion-text slot="end">Ton</ion-text>
  </ion-item>
  <ion-item class="item-inner">
    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.height" placeholder="Height"></ion-input>
    <ion-text slot="end">Feet</ion-text>

  </ion-item>
  <ion-item class="item-inner">
    <ion-input background="light" [(ngModel)]="vehicleLookUpDTO.length" placeholder="Length"></ion-input>
    <ion-text slot="end">Feet</ion-text>

  </ion-item>

</ion-card-content>

</ion-card>
<ion-card *ngIf="headerName==='Add Vehicle'" >
  <ion-card-header>
    <ion-card-title text-center>
      Documents
    </ion-card-title>
  </ion-card-header>
  <ion-item class="item-inner">
    <ion-label color="medium" position="floating" >Document name</ion-label>
    <ion-input background="light" ></ion-input>
  </ion-item>
  
    <ion-item>
      <ion-text slot="start" position="floating"> Valid from  </ion-text>
      <ion-datetime slot="end" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2030-12-09" ></ion-datetime>
    </ion-item>
    
  
 

    <ion-item>
      <ion-text slot="start" position="floating"> Valid to</ion-text>
      <ion-datetime slot="end" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2030-12-09" ></ion-datetime>
    </ion-item>
</ion-card>

  <!-- <ion-card>
      <ion-item>
          <ion-label>Capacity</ion-label>
          <ion-select placeholder="Select One" (ionChange)="capacityOptions($event)" [(ngModel)]="vehicle.capacityType">
            <ion-select-option value="TON" >TON</ion-select-option>
            <ion-select-option value="FEET">FEET</ion-select-option>
          </ion-select>
        </ion-item>
    <ion-item class="item-inner">
      <ion-label color="medium" position="floating">Capacity</ion-label>
      <ion-input background="light" [(ngModel)]="vehicle.capacity"></ion-input>
    </ion-item>
  </ion-card> -->

 
  <ion-row>
      <ion-col>
        <ion-button   color="light" expand="block" (click)="save()">save</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="light" expand="block" (click)="dismiss()">cancel</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
