<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label align-center>Plans</ion-label>
    </ion-list-header>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-item>
          <ion-card-subtitle>27/7/2000</ion-card-subtitle>
        </ion-item>
        <ion-item color="tertiary" class="block">
          <ion-text>from :</ion-text>

          <ion-text>palakkad junction </ion-text>
        </ion-item>
        <ion-item color="tertiary" class="block">
          <ion-text>to :</ion-text>
          <ion-text>kottayi junction </ion-text>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
