<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-transportation-data [freightView]="freightView" ></app-transportation-data><br>
  <app-transportation-data [freightView]="freightView" ></app-transportation-data><br>
  <app-transportation-data [freightView]="freightView" ></app-transportation-data><br>

</ion-content>
