<ion-card style="-webkit-box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);
box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);">

  <ion-item>
    <ion-card-subtitle>{{(customer|async)?.customerIdpCode}}</ion-card-subtitle>

    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-item>
  <ion-card-content>
    <ion-text>Phone:{{(customer|async)?.phoneNumber}}</ion-text>
  </ion-card-content>

  <div (click)="moreInfo()">
    <ion-card-header style="border-top: 3px solid #5855b1;">
      <ion-text color="primary"><b><I>Pickup</I></b></ion-text>
    </ion-card-header>
    <ion-card-content>

      <ion-text>
        <i>
          {{freightView.freight.pickupAddress}}
        </i>
      </ion-text>

    </ion-card-content>
    <ion-card-header>
      <ion-text color="primary"><b><I>Destination</I></b></ion-text>
    </ion-card-header>
    <ion-card-content style="border-bottom: 3px solid #5855b1;">
      <ion-text>
        <i>
            {{freightView.freight.destinationAddress}}
        </i>
      </ion-text>
    </ion-card-content>
    <ion-item line="full" *ngIf="freightView.freight.estimatedAmount" >

          <ion-input type="number" placeholder=" Ruogh budget in numbers ex:1999 " [value]="freightView.freight.estimatedAmount"
          readonly="!freightView.isEdit">Rs
        </ion-input>



      <ion-text slot="end"> Customer budget</ion-text>
    </ion-item>
  </div>
  <div *ngIf="freightView.isMoreInfo">
    <ion-item>

      <ion-label>Goods Type</ion-label>
      <ion-text slot="end">Wood  {{freightView.freight.type}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder=" Ruogh goods weight in kg ex:1000" [value]="freightView.freight.weight" readonly="!freightView.isEdit"></ion-input>
      <ion-text slot="end">kg</ion-text>

    </ion-item>

    <ion-item line="full">
      <ion-text>
         {{freightView.freight.length}} L * {{freightView.freight.width}} W * {{freightView.freight.height}} H    23*34*56
      </ion-text>
      <ion-text slot="end">volume</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Delivery date</ion-label>
      <ion-datetime display-format="D, MMMM YYYY" picker-format="DD MM YYYY" [value]="freightView.freight.deliveryDate" readonly="!freightView.isEdit"></ion-datetime>
    </ion-item>
    <ion-item line="full">
      <ion-label>Fragile</ion-label>
      <ion-icon name="checkbox-outline" color="primary" *ngIf="freightView.freight.fragile"></ion-icon>
      <ion-icon name="square-outline" *ngIf="!freightView.freight.fragile"></ion-icon>
    </ion-item>


  </div>
  <div *ngIf="quoatationList ;let ql">
  <ion-item *ngIf="(quoatationList.length == 0)  ">
    <ion-input placeholder="Enter your budget"  [(ngModel)]="quotation.amount"></ion-input>
    <ion-text slot="end">INR</ion-text>
    <ion-item>
      <ion-button slot="start" (click)="sendQuotation()">Intrested</ion-button>
      <ion-button slot="end"(click)="deleteElement()">Reject</ion-button>
    </ion-item>
  </ion-item>

    <ion-item *ngIf="(quoatationList.length > 0)  " color="success">
      <ion-input placeholder="Enter your budget"  [value]="ql[0].amount"> Rs</ion-input>
      <ion-text slot="end"> Quoted price</ion-text>
  </ion-item>
  </div>


</ion-card>
