<ion-card style="-webkit-box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);
box-shadow: 0px 0px 56px -9px rgba(0,0,0,0.73);">

  <ion-item>
    <ion-card-subtitle>Manu kg</ion-card-subtitle>

    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-item>
  <ion-card-content>
    <ion-text>Phone:7034397935</ion-text>
  </ion-card-content>

  <div (click)="moreInfo()">
    <ion-card-header style="border-top: 3px solid #5855b1;">
      <ion-text color="primary"><b><I>Pickup</I></b></ion-text>
    </ion-card-header>
    <ion-card-content>

      <ion-text>
        <i>
          Palakkad Junction Railway Station, Olavakode , Palakkad, Kerala
        </i>
      </ion-text>

    </ion-card-content>
    <ion-card-header>
      <ion-text color="primary"><b><I>Destination</I></b></ion-text>
    </ion-card-header>
    <ion-card-content style="border-bottom: 3px solid #5855b1;">
      <ion-text>
        <i>
          Palakkad Junction Railway Station, Olavakode, Palakkad, Kerala
        </i>
      </ion-text>
    </ion-card-content>
    <ion-item line="full">
      <ion-input type="number" placeholder=" Ruogh budget in numbers ex:1999 " value="1000"
        readonly="!freightView.isEdit">
      </ion-input>
      <ion-text slot="end"> Customer budget</ion-text>
    </ion-item>
  </div>
  <div *ngIf="freightView.isMoreInfo">
    <ion-item>

      <ion-label>Goods Type</ion-label>
      <ion-text slot="end">Wood</ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder=" Ruogh goods weight in kg ex:1000" readonly="!freightView.isEdit"></ion-input>
      <ion-text slot="end">kg</ion-text>

    </ion-item>

    <ion-item line="full">
      <ion-text>
        23*34*56
      </ion-text>
      <ion-text slot="end">volume</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Delivery date</ion-label>
      <ion-datetime display-format="D, MMMM YYYY" picker-format="DD MM YYYY" value="07-27-2000"></ion-datetime>
    </ion-item>
    <ion-item line="full">
      <ion-label>Fragile</ion-label>
      <ion-icon name="checkbox-outline" color="primary"></ion-icon>
      <ion-icon name="square-outline"></ion-icon>
    </ion-item>


  </div>
  <ion-item>
    <ion-input placeholder="Enter your budget"></ion-input>
    <ion-text slot="end">INR</ion-text>
  </ion-item>
  <ion-item>
    <ion-button slot="start">Intrested</ion-button>
    <ion-button slot="end">Reject</ion-button>
  </ion-item>
</ion-card>